.container {
    background-color: var(--color-white);
    margin: var(--spasing-small) var(--spasing-medium);
    padding: var(--spasing-small) var(--spasing-small);
}

.search_wrapper {
    display: block;
    align-items: center;
    max-width: 300px;
    justify-content: space-between;
}

.biography_wrapper {
    list-style-type: none;
}

.biography_item {

}

.input {
    margin: 10px 0 4px;
}

.subheader {
    color: var(--color-gray);
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 20px 0;
}

.header {
    font-family: var(--font-family-bangers);
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .img {
        width: 200px;
        height: 350px;
    }
}