.container {
    background-color: var(--color-white);
    margin: var(--spasing-small) var(--spasing-medium);
    padding: var(--spasing-small) var(--spasing-small);
}

.img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}