.search_wrapper {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 10px 0 4px;
    justify-content: space-between;
}

.header {
    font-family: var(--font-family-bangers);
    letter-spacing: 2px;
}

.input {
    padding: 10px 20px;
    margin-right: 10px;
    border: 3px solid var(--color-red);
    font-size: var(--font-size-small);
}

.button_search {
    padding: 10px 20px;
    background-color: var(--color-red);
    border: 3px solid var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-main);
}