:root {
    --font-family-bangers: 'Bangers', cursive;

    --color-white: #fff;
    --color-black: #000;
    --color-gray: #808080;
    --color-red: #ff4c4c;
    --color-yellow: #e2c50e;
    --color-orange: #d5a909;

    --spasing-ultrasmall: 5px;
    --spasing-small: 10px;
    --spasing-medium: 15px;
    --spasing-large: 20px;

    --font-size-small: 14px;
    --font-size-main: 16px;
    --font-size-subheader: 18px;
    --font-size-header: 20px;
    --font-size-large: 26px;
    --font-size-very-large: 50px;

}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    background: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}


h2 {
    margin: 0;
    padding: 0;
}


h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

